<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<title>MyContact App</title>
<link href="../static/images/logo.jpg" th:href="@{/images/logo.jpg}"
	rel="shortcut icon" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<!-- Custom style -->
<link href="../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet" />

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

</head>

<body>
	<div th:fragment="header" class="header1 row " style="margin: 0px">


		<div class="col-2 mycontact">
			<a style="color: white" class="nav-link" href="/">MyContact App</a>
		</div>

		<form class="form-info">
			<div action="#" class="avatar"></div>
			<div class="dropdown" style="margin:auto">
				<button type="button" class="btn  dropdown-toggle"
					data-toggle="dropdown">
					<span sec:authentication="name"></span>
				</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/">List</a>
					<a class="dropdown-item" href="/contact/add">Add New Contact</a>
					<a class="dropdown-item" href="https://www.facebook.com/kakalai1995">About us</a>
					<a class="dropdown-item" href="/logout" method="POST">Logout</a>
				</div>
			</div>
		</form>
	</div>


	<div th:fragment="sidebar" class="sidebar col-2">
		<a href="#home"><i class="fa fa-fw fa-home"></i> Home</a> <a
			href="#services"><i class="fa fa-fw fa-wrench"></i> Services</a> <a
			href="#clients"><i class="fa fa-fw fa-user"></i> Clients</a> <a
			href="#contact"><i class="fa fa-fw fa-envelope"></i> Contact</a>
	</div>



</body>
</html>
