<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
	<nav th:replace="layout :: header"></nav>
	<div class="bodykit row" style="margin: 0">
		<div th:replace="layout :: sidebar"></div>
		<div class="container main-content list col-10 content"
			id="main-content">
<form class="option1" action="#" th:action="@{/contact/search}" method="get">
<div class=" row">
				<div class="col-4" style="margin: auto">
					<div class="search-index">Tên</div>
					<input class="form-control mr-sm-2" type="search" 
						placeholder="Search by tên ..." />
				</div>

				<div class="col-4" style="margin: auto">
					<div class="search-index">Email</div>
					<div class="search-index">
						<input class="form-control mr-sm-2" type="search" name="email"
							placeholder="Search by email ..." />
					</div>
				</div>
				<div class="col-4" style="margin: auto">
					<div class="search-index">Số điện thoại</div>
					<input class="form-control mr-sm-2" type="search" 
						placeholder="Search by sdt ..." />
				</div>
			</div>
			<div style="margin-top:10px">
			<button class="btn btn-primary" type="submit">
						<i class="fa fa-search"></i> Search
					</button>
			</div>
</form>
			


			<div class="row mt-4">
				<div th:if="${successMessage}"
					class="col-12 alert alert-success alert-dismissible fade show"
					role="alert">
					<span th:text="${successMessage}"></span>
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>

			<th:block th:if="${#lists.isEmpty(employees.pageList)}">
				<h3>No employee</h3>
			</th:block>

			<th:block th:unless="${#lists.isEmpty(employees.pageList)}">
				<h5>List of contacts</h5>
				<div class="table-responsive">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>Number</th>
								<th>Name</th>
								<th>Email</th>
								<th>Phone</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>


							<tr th:each="contact,iterStat : ${employees.pageList}">
								<td th:text="${iterStat.count}"></td>
								<td th:text="${contact.name}"></td>
								<td th:text="${contact.email}"></td>
								<td th:text="${contact.phone}"></td>
								<td><a href="#"
									th:href="@{/contact/{id}/edit(id=${contact.id})}"
									class="mr-sm-2 text-primary"> <i class="fa fa-pencil"></i>
								</a> <a href="#" th:href="@{/contact/{id}/delete(id=${contact.id})}"
									class="text-danger"> <i class="fa fa-trash"></i>
								</a></td>
							</tr>

						</tbody>
					</table>
				</div>
<div class="paging">
				<ul class="pagination" style="right:0;margin:auto">
					<li
						th:class="${currentIndex == 1}? 'page-item disabled' : 'page-item'">
						<a class="page-link" th:href="@{/}">First</a>
					</li>
					<li
						th:class="${currentIndex == 1}? 'page-item disabled': 'page-item' ">
						<a class="page-link" aria-label="Previous"
						th:href="@{|${baseUrl}${currentIndex - 1}|}"
						title='Go to previous page'><span aria-hidden="true">&laquo;</span>
					</a>
					</li>

					<li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
						th:class="${item == currentIndex ? 'page-item active' :'page-item' }">
						<a class="page-link" th:href="@{|${baseUrl}${item}|}"> <span
							th:text='${item}'>1</span>
					</a>
					</li>
					<li th:if="${totalPageCount > 6}"><span class="page-link">...</span>
					<li
						th:each="item : ${#numbers.sequence(totalPageCount-2,totalPageCount)}"
						th:class="${item == currentIndex ? 'page-item active' :'page-item' }">
						<a class="page-link" th:href="@{|${baseUrl}${item}|}"> <span
							th:text='${item}'>1</span>
					</a>
					</li>
					</li>

					<li
						th:class="${currentIndex == totalPageCount}? 'page-item disabled': 'page-item'">
						<a class="page-link" aria-label="Next"
						th:href="@{|${baseUrl}${currentIndex + 1}|}"
						title='Go to next page'><span aria-hidden="true">&raquo;</span>
					</a>
					</li>
					<li
						th:class="${currentIndex == totalPageCount}? 'page-item disabled':'page-item'">
						<a class="page-link" th:href="@{|${baseUrl}${totalPageCount}|}">Last</a>
					</li>
				</ul>

</div>
			</th:block>
		</div>
	</div>
</body>
</html>








